@import "../global_import.css";
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: honeydew;
}

*, html, body {
    font-family: 'Rokkitt', serif;
}

h1 {
    font-family: 'Audiowide', cursive;
}

html {
    font-family: 'Roboto', sans-serif;
    /* font-size: 10px; */
}

body {
    background: rgb(99, 91, 91);
}

a {
    text-decoration: none;
}

/* Navbar */

header::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    opacity: 0;
    z-index: 999;
    transition: opacity .6s, transform .2s .6s;
    -webkit-transition: opacity .6s, transform .2s .6s;
    -moz-transition: opacity .6s, transform .2s .6s;
    -ms-transition: opacity .6s, transform .2s .6s;
    -o-transition: opacity .6s, transform .2s .6s;
}

main {
    perspective: 100rem;
}

.zoom-content {
    transform-style: preserve-3d;
    transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}


.active .zoom-content {
    transform: translate3d(0, 0, -15rem);
    -webkit-transform: translate3d(0, 0, -15rem);
    -moz-transform: translate3d(0, 0, -15rem);
    -ms-transform: translate3d(0, 0, -15rem);
    -o-transform: translate3d(0, 0, -15rem);
}

/* Dashboard's Page Content */

.containerC {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgb(29, 27, 27);
    box-shadow: 12px 5px 12px rgba(0, 0, 0, .5);
}

.containerC .card {
    position: relative;
    width: 250px;
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: .5s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: auto;
}

.containerC .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5)
}

.containerC .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(122, 46, 46, 0.3);
    pointer-events: none;
    z-index: 1;
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h1 {
    color: #777;
    font-weight: 700;
    font-size: 60px;
    transition: .5s;
}

.card:hover .percent .number h1 {
    color: #fff;
    font-size: 70px;
}

.text {
    position: relative;
    color: #777;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .5s;
    margin-top: 20px;
}

.card:hover .text {
    color: #fff;
}

svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 50) / 100);
    stroke: orangered;
}

.card:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke: orangered;
}

.card:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 30) / 100);
    stroke: orangered;
}

/* Recently Event */

#blink {
    transform: scale(1);
    color: gainsboro;
    transition: all .5s ease;
    animation: dotBlink 1s infinite;
}

@keyframes dotBlink {
    0% {
        transform: scale(1);
        color: gainsboro;
        transition: all .5s ease;
    }
    50% {
        transform: scale(1.1);
        color: white;
        transition: all .5s ease;
    }
    100% {
        transform: scale(1);
        color: gainsboro;
        transition: all .5s ease;
    }
}

/* table scrollbar */


/* Chart */

.TotalProfit-Chart {
    height: 70vh;
    width: 70vw;
    background: rgb(29, 27, 27);
    box-shadow: 12px 5px 12px rgba(0, 0, 0, .5);
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.TotalProfit-Chart canvas {
    height: 100% !important;
    width: 100% !important;
}

@media (max-width: 768px) {
    .TotalProfit-Chart {
        height: 100%;
        width: 100%;
    }
}