@import "global_import.css";
/* ------------------------About Us Page-------------------- */

*, html, body {
    font-family: 'Rokkitt', serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Audiowide', cursive;
}

h2, h3, h4, h5 {
    font-family: 'Poly', serif;
}

html {
    scroll-behavior: smooth;
}

/* ----------------Row One-------------------------- */


.first-section {
    background-image: url('images/fn1.jpg');
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

    background-color: rgba(0,0,0,.5);
    background-blend-mode: color;
}

.first-section .row {
    height: 100%;
}

.first-section-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.abtusshowbtn .btn1 {
    background: orangered;
    color: white;
    text-align: center;
}

.btn1 .i1 {
    vertical-align: middle;
}

.btn1:hover .i1 {
    z-index: 11;
    animation: vibrate .5s infinite;
    transition: .2s linear;
}

@keyframes vibrate {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1.1);
    }
}

/* --------------------------Eof Row One------------------- */

/* ---------------------------Row Two----------------------- */

#show p {
    width: 70%;
    margin: auto;
}

.r2 {
    background: black;
}

.r2c2 h4 {
    color: orangered !important;
}

.r2c8 h3 {
    color: orangered !important;
}

/* -----------------------Row Three-------------------- */
.third-section img {
    height:100%;
    width: 100%;
}
#abtbgimg2 {
    background-image: url('images/freefire.jpg') !important;
    background-attachment: scroll !important;
    background-size: cover;
}

#overlay2 {
    opacity: 0.2 !important;
}

.bgimg2caption {
    position: absolute;
    top: 15%;
    width: 50%;
    padding-left: 8% !important;
}

.bgimg2caption h2 {
    color: orangered !important;
}

/* -------------------Eof Row Three----------------------------- */

/* media queries */

@media (max-width: 1200px) {
    #show h1, h4 {
        text-align: left;
        padding-left: 20px;
    }
    #show p {
        width: 100%;
        padding: 10px;
        text-align: justify;
    }
    /* row two */
    .row-2 {
        padding: 10px !important;
        text-align: left;
    }
    .r2c2 {
        padding: unset !important;
        width: 100%;
    }
    /* row-3 */
    .row-3 {
        padding: 10px !important;
        text-align: left;
    }
    /* row-4 */
    .row-4 {
        padding: 1px !important;
        text-align: left;
    }
    /* last section */
    .bgimg2caption {
        width: 100%;
        text-align: left;
        padding: 10px !important;
    }
}