@import "global_import.css";

/* my design */

* {
    margin: 0;
    padding: 0;
    font-family: 'Rokkitt', serif;
    box-sizing: border-box;
}

h1 {
    font-family: 'Audiowide', cursive;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/homepage-zombies-bg.jpg");
}

.contact-parent {
    color: thistle;
    display: flex;
    padding: 170px 0;
}

.contact-child {
    display: flex;
    flex: 1;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}

.child1 {
    color: thistle;
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/homepage-zombies-bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px 0;
    background-position: center center;
}

.child1 p {
    padding-left: 20%;
    font-size: 20px;
    color: thistle;
    text-shadow: 0px 0px 2px #000;
}

.child1 p span {
    font-size: 16px;
    color: thistle;
}

.child2 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inside-contact {
    width: 90%;
    margin: 0 auto;
}

.inside-contact h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}

.inside-contact h3 {
    text-align: center;
    font-size: 16px;
    color: #0085e2;
}

.inside-contact input,
.inside-contact textarea {
    width: 100%;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.48);
    padding: 5px 10px;
    margin-bottom: 20px;
}

.inside-contact input[type=submit] {
    background-color: #333;
    color: #fff;
    transition: 0.2s;
    border: 2px solid #000;
    margin: 30px 0;
}

.inside-contact input[type=submit]:hover {
    background-color: #fff;
    color: #000;
    transition: 0.2s;
}

@media screen and (max-width:991px) {
    .contact-parent {
        display: block;
        width: 100%;
    }
    .child1 {
        display: none;
    }
    .child2 {
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
        background-size: cover;
    }
    .inside-contact input,
    .inside-contact textarea {
        background-color: #fff;
    }
}