@import "global_import.css";
* {
    font-family: 'Poly', serif;
}

.btn_red,
.btn_red:link,
.btn_red:visited {
    position: relative;
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
    border-radius: 100px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    color: white;
    font-family: 'Poly', serif;
}

.btn_red:hover {
    transform: translateY(-2px);
    box-shadow: 0px 8px 20px rgb(110, 110, 110);
}

.btn_red:active,
.btn_red:focus {
    outline: none;
    transform: translateY(1px);
    box-shadow: 0px 8px 10px #000;
}

.btn_red::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
    transition: all 0.5s;
}

.btn_red:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn_red img {
    vertical-align: middle;
    height: 80%;
    width: 15%;
}