@import "global_import.css";
*, html, body {
    padding: 0;
    margin: 0;
    font-family: 'Rokkitt', serif;
}

h1 {
    font-family: 'Audiowide', cursive;
}

h2, h3 {
    font-family: 'Poly', serif;
}

/* game Main Section*/

.game_main {
    min-height: 70vh;
    background: url(images/s2-battle-pass-promo-desktop-2.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, .75);
    background-blend-mode: color;
    position: relative;
}

.game_main_content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 100%;
}

.slide_nameofgame {
    position: relative;
    font-size: 35px;
    width: auto;
    height: 100px;
}

/* Jumbotron with Video */

.section-stories {
    line-height: 1.6;
    margin: 0;
    box-sizing: inherit;
    position: relative;
    padding: 10rem 0;
    height: 70vh;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: color;
    color: white;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.bg-video video {
    justify-content: right;
}

/* game-section */

/* Ist Parallax */

.first-parallax {
    min-height: 300px;
    background: url(images/pubg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;

    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}

.first-parallax .first-parallax-heading {
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-section, .game-section2 {
    padding: 40px 0;
}

.game-section .col-lg-6 {
    height: 400px;
}

.game-section-1 .left_game-section {
    height: 100%;
    background: url('images/pubg1.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}

.left_game-section .overlay {
    position: absolute;
    bottom: 0;
    height: 5px;
    width: 0;
    background: red;
    transition: all .4s ease;
}

.left_game-section:hover .overlay {
    width: 100%;
    transition: width .8s ease;
}

.game-section .text {
    display: block;
    position: absolute;
    width: 10rem;
    height: 10rem;
    right: -15%;
    top: 50%;
    transform: translateY(-50%) !important;
    text-align: center;
    color: white;
    font-size: 2rem;
    line-height: 10rem;
    border-radius: 50%;
    z-index: 300;
    opacity: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .75);
    -webkit-background-clip: text;
    background-clip: text;
    transform: rotate(-180deg) translate(10rem) rotate(180deg);
    transition: all 1s cubic-bezier(.55, 0, .1, 1);
}

.game-section .left_game-section:hover .text {
    transform: rotate(-45deg) translate(0px) rotate(-315deg);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    letter-spacing: 1rem;
    height: 100%;
    right: 0;
    opacity: 1;
    margin: unset;
    line-height: 400px;
    border-radius: unset;
    transition: all 1s ease;
}

.left_game-section .btn_overlay {
    position: absolute;
    left: -30%;
    top: 60%;
    opacity: 0;
    transform: translateY(-60%);
    transition: all .8s ease;
}

.left_game-section:hover .btn_overlay {
    display: block;
    width: 100%;
    left: 50%;
    opacity: 1;
    text-align: center;
    letter-spacing: 1px;
    z-index: 1111;
    transform: translateX(-50%);
    transition: all 2s ease, opacity 6s ease;
}

.game-section .right_section {
    overflow: hidden;
}

.game-section .right_game-section h2 {
    text-align: center;
    box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 0px 0px transparent, 0px 4px 10px black;
}

.game-section .right_game-section .btn {
    margin-top: 100px;
    transition: all .3s ease;
}

.game-section:hover .right_game-section .btn {
    margin-top: 0px !important;
    transition: all .5s ease;
}

/* Second Parallax */

.second-parallax {
    min-height: 300px;
    background: url(images/fn1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;

    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}

.second-parallax .first-parallax-heading {
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* second game section  */

.game-section-2 .left_game-section {
    height: 100%;
    background: url('images/ff3.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}

/* third parallax */

.third-parallax {
    min-height: 300px;
    background: url(images/cod2.jpg);
    background-size: cover;
    background-attachment: fixed;

    background-position: center center;
    position: relative;

    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}
.third-parallax .first-parallax-heading {
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* game section third */

.game-section-3 .left_game-section {
    height: 100%;
    background: url('images/cod1.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}

/* Fourth Section */

.fourth-parallax {
    min-height: 300px;
    background: url(images/freefire.jpg);
    background-size: cover;
    background-attachment: fixed;

    background-position: center center;
    position: relative;

    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}

.fourth-parallax .first-parallax-heading {
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Slider Content */

.games_slider .carousel-inner {
    height: 400px;
}

/* game section fourth */

.game-section-4 .left_game-section {
    height: 100%;
    background: url('images/freefire.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}

.carousel-inner img {
    height: 100%;
    width: 100%;
}

/* Media Queries */

@media (max-width: 920px) {
    /* Video Buttons */
    .games-section_btn {
        display: none;
    }
    .section-stories .bg-video video {
        display: none;
    }
    .section-stories {
        height: 60vh;
        background: url(slider_img/fn2.jpg);
        background-size: cover;
        background-position: center right;
        background-color: rgba(0, 0, 0, .6);
        background-blend-mode: color;
    }
}

@media (max-width: 870px) {
    h1 {
        font-size: 30px !important;
    }
    h2 {
        font-size: 28px !important;
    }
    h3 {
        font-size: 24px !important;
    }
    /* Game-Section */
    .game-section {
        height: fit-content;
        text-align: center;
    }
    .game-section .right_section {
        height: 500px;
    }
    .game-section .text {
        display: block;
        position: absolute;
        width: 10rem;
        height: 10rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        text-align: center;
        color: white;
        font-size: 2rem;
        line-height: 10rem;
        border-radius: 50%;
        shape-outside: circle(50% at 50% 50%);
        background: rgba(0, 0, 0, .75);
        transform: rotate(-180deg) translate(10rem) rotate(180deg);
        transition: all 1s cubic-bezier(.55, 0, .1, 1);
    }
}