/* *,
html,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

#container {
    position: relative;
    margin: 100px auto;
    background: #fff;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    width: 800px;
    max-width: 800px;
    min-height: 480px;
    overflow: hidden;
}

.animateWidth {
    -webkit-animation: animateWidth 0.8s linear forwards;
    animation: animateWidth 0.8s linear forwards;
}

@-webkit-keyframes animateWidth {
    0% {
        width: 35%;
    }
    20% {
        width: 50%;
    }
    100% {
        width: 35%;
    }
}

@keyframes animateWidth {
    0% {
        width: 35%;
    }
    20% {
        width: 50%;
    }
    100% {
        width: 35%;
    }
}

.form__container {
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    height: 100%;
    padding: 25px;
    text-align: center;
    background: #fff;
    transition: all 0.6s ease-in;
}

.go-login .form__container-login {
    left: 35%;
    opacity: 0;
}

.go-register .form__container-login {
    left: 0;
    opacity: 1;
    z-index: 0;
}

.go-login .form__container-register {
    left: 35%;
    opacity: 1;
    z-index: 0;
}

.go-register .form__container-register {
    left: 0;
    opacity: 0;
}

.form {
    width: 100%;
}

.form__heading {
    font-size: 40px;
    margin-bottom: 15px;
}

.form__field {
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    margin-bottom: 15px;
    background: #f4f8f7;
    border: none;
}

.form__field:last-child {
    margin-bottom: 0;
} */


/* .form__field::-webkit-input-placeholder { */


/* Chrome/Opera/Safari */


/* text-transform: capitalize; */


/* } */


/* .form__field::-moz-placeholder { */


/* Firefox 19+ */


/* text-transform: capitalize; */


/* } */


/* .form__field:-ms-input-placeholder { */


/* IE 10+ */


/* text-transform: capitalize; */


/* } */


/* .form__field:-moz-placeholder { */


/* Firefox 18- */


/* text-transform: capitalize; */


/* } */


/* 
.form__field:focus,
.form__field:active {
    outline: 0;
}

.form__text {
    margin-bottom: 15px;
    font-size: 14px;
}



.overlay-container {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
    text-align: center;
    background: linear-gradient(45deg, #2980b9, #3498db);
    transition: all 0.8s cubic-bezier(0.67, 0.67, 0.34, 0.95);
}

.go-login .overlay-container {
    right: 65%;
}

.go-register .overlay-container {
    right: 0;
}

.overlay {
    padding: 25px;
    color: #fff;
    position: absolute;
    width: 100%;
}

.overlay__heading {
    font-size: 32px;
    margin-bottom: 15px;
}

.overlay__desc {
    max-width: 230px;
    width: 230px;
    margin: auto;
    margin-bottom: 15px;
}

.overlay--left {
    opacity: 0;
    z-index: 99;
}

.go-login .overlay--left {
    z-index: 99;
    opacity: 1;
}

.go-register .overlay--left {
    opacity: 0;
    z-index: -1;
}

.overlay--right {
    opacity: 0;
    z-index: 99;
}

.go-login .overlay--right {
    opacity: 0;
    z-index: -1;
}

.go-register .overlay--right {
    z-index: 99;
    opacity: 1;
}
*/

.btn {
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    background: linear-gradient(45deg, #2980b9, #3498db);
}

.btn--main {
    background: linear-gradient(45deg, #2980b9, #3498db);
    color: black;
}

.btn--main-outline {
    border: 2px solid linear-gradient(45deg, #2980b9, #3498db);
    color: #2980b9;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus,
.btn:active {
    outline: 0;
}

.list {
    padding-left: 0;
}

.list__inline {
    margin-bottom: 15px;
}

.list__inline .list__item {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #333;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.list__inline .list__link {
    color: black;
    text-decoration: none;
}

.list__inline .list__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}