@import "global_import.css";
*,
html,
body {
    font-family: 'Rokkitt', serif;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    width: 100%;
    padding-bottom: 40px;
    font-family: 'Rokkitt', serif;
    background: black;
}

a {
    color: white;
}

a:hover {
    color: rgb(194, 194, 194);
}

h1 {
    font-family: 'Audiowide', cursive;
}

.btn {
    background: #cc2b5e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Page heading h1 */

.page_heading {
    /* position: absolute; */
    font-family: 'Audiowide', cursive;
    animation: .8s slide linear;
    display: block;
    color: var(--colorred);
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(-2%);
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}


/* Tabs */


/* Demo */

main {
    max-width: 90%;
    margin: 30px auto;
    background: #3F3F3D;
    padding: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

input[name=css-tabs] {
    display: none;
}

a {
    color: #F29A77;
}

#tabs {
    padding: 0 50px 0 50px;
    width: calc(100% + 100px);
    margin-left: -50px;
    background: #2B2A28;
    height: 80px;
    border-bottom: 5px solid #EB4E01;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#tabs::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -100;
    width: 100%;
    left: 0;
    margin-top: 16px;
    height: 80px;
    background: #2B2A28;
    border-bottom: 5px solid #EB4E01;
}

#content {
    position: relative;
}

#content::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -50px;
    border-top: 8px solid #000;
    border-right: 10px solid #000;
    border-left: 10px solid transparent;
    border-bottom: 8px solid transparent;
}

#content::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    margin-left: calc(100% + 30px);
    border-top: 8px solid #000;
    border-left: 10px solid #000;
    border-right: 10px solid transparent;
    border-bottom: 8px solid transparent;
}

#tabs ul,
#tabs ul li {
    height: 100%;
}

#tabs ul li {
    flex: 1;
    text-align: center;
    margin: auto;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: orangered;
    transition: .2s ease-in;
}

#tabs ul li:not(:last-child) {
    margin-right: 10px;
}

#tabs .nav .nav-link {
    height: 100%;
    padding: unset !important;
    line-height: 75px;
    border-radius: unset !important;
}


/* second-section */

.second-section {
    padding-top: 30px;
    padding-bottom: 30px;
    /* box-shadow: 0px -5px 5px #8E2DE2, -5px 0px 5px transparent, 0px 5px 5px #cc2b5e, 5px 0px 5px transparent; */
}


/* progress bar */

.progress {
    border-radius: unset !important;
}

.progress-bar {
    background-image: linear-gradient(120deg, #c31432 0%, #240b36 100%);
}


/* game preferences */

#game_prefer .col-md-3 div {
    margin-left: auto !important;
    margin-right: auto !important;
}

.game_prefer_images {
    background: url(../images/cod1.jpg);
    background-size: cover;
    height: 150px;
    width: 100%;
    position: relative;
}

.game_prefer_images .info {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    transform: scale(1);
    transition: all .2s linear !important;
}

.game_prefer_images:hover {
    transform: scale(1.1);
    transition: all .3s ease-in !important;
}

.game_prefer_images .info h3 {
    position: absolute;
    width: 100%;
    opacity: 0;
    bottom: -60px;
    background: rgba(0, 0, 0, .7);
    transition: all .5s linear;
}

.game_prefer_images .info:hover h3 {
    opacity: 1;
    bottom: 60px;
    transition: all .7s ease-in-out;
}

.game_prefer_images .info p {
    position: absolute;
    width: 100%;
    bottom: -40px;
    opacity: 0;
    transition: all .5s linear;
}

.game_prefer_images .info:hover p {
    opacity: 1;
    bottom: 25px;
    background: rgba(0, 0, 0, .4);
    transition-delay: .4s;
    transition: all .7 ease-out;
}

.game_prefer_images:hover {
    background-color: #1c3a4e6e;
    background-blend-mode: color;
    transition: .2s ease-out;
}